*, body{
  padding: 0;
  margin: 0;
}

	:root,
	.identity-t-ecktUN {
    --borderWidths-outlineButton: 2px;
    --colors-background: white;
    --colors-badgeBackground: black;
    --colors-badgePrimaryText: white;
    --colors-badgeGradientText: hsla(0, 0%, 98%, 1);
    --colors-bannerBorder: 1px solid var(--colors-dialogTextSecondary);
    --colors-buttonDestructiveBackground: black;
    --colors-buttonDestructiveBackgroundActive: black;
    --colors-buttonDestructiveBackgroundDisabled: black;
    --colors-buttonDestructiveBackgroundHover: black;
    --colors-buttonDestructiveText: white;
    --colors-buttonDestructiveTextDisabled: lightgray;
    --colors-buttonFooter: silver;
    --colors-buttonFooterHover: white;
    --colors-buttonOutlineBackground: transparent;
    --colors-buttonOutlineBackgroundActive: transparent;
    --colors-buttonOutlineBackgroundDisabled: lightgray;
    --colors-buttonOutlineBackgroundHover: lightgray;
    --colors-buttonOutlineBorder: black;
    --colors-buttonOutlineBorderDisabled: lightgray;
    --colors-buttonOutlineBorderHover: dark-gray;
    --colors-buttonOutlineText: black;
    --colors-buttonOutlineTextDisabled: black;
    --colors-buttonOutlineTextHover: darkgray;
    --colors-buttonPrimaryBackground: black;
    --colors-buttonPrimaryBackgroundActive: black;
    --colors-buttonPrimaryBackgroundDisabled: black;
    --colors-buttonPrimaryBackgroundHover: black;
    --colors-buttonPrimaryText: white;
    --colors-buttonPrimaryTextDisabled: lightgray;
    --colors-buttonSecondaryBackground: black;
    --colors-buttonSecondaryBackgroundActive: black;
    --colors-buttonSecondaryBackgroundDisabled: black;
    --colors-buttonSecondaryBackgroundHover: black;
    --colors-buttonSecondaryText: white;
    --colors-buttonSecondaryTextDisabled: lightgray;
    --colors-buttonTransparentText: black;
    --colors-buttonTransparentTextDisabled: lightgray;
    --colors-buttonTransparentTextHover: black;
    --colors-cancelCardBorderDefault: hsl(228,9%,32%);
    --colors-cancelPageBorder: var(--colors-sectionBorder);
    --colors-cardButtonHover: hsl(207.4, 100%, 51%);
    --colors-close: hsl(0, 0%, 0%);
    --colors-closeHover: hsl(217, 11%, 63%);
    --colors-closeHoverSecondary: var(--colors-dialogTextTertiary);
    --colors-contentCardBorder: hsla(0, 0%, 100%, 0);
    --colors-contentCardBorderHover: hsla(0, 0%, 97%, 0.8);
    --colors-contentCardText: hsl(0, 0%, 98%);
    --colors-dialogBackground: var(--colors-background);
    --colors-dialogBackgroundSecondary: var(--colors-interactiveSectionBackground);
    --colors-dialogCloseHoverBackground: hsla(0, 0%, 98%, 10%);
    --colors-dialogContentScrollbar: hsl(217, 11%, 63%);
    --colors-dialogOverlay: hsla(197, 5.3%, 24.1%, 0.8);
    --colors-dialogOverlaySecondary: hsla(0, 0%, 0%, 0.7);
    --colors-dialogRowBorder: 1px solid var(--colors-dialogTextSecondary);
    --colors-dialogText: var(--colors-textDefault);
    --colors-dialogTextSecondary: var(--colors-textSecondary);
    --colors-dialogTextTertiary: hsl(0, 0%, 98%);
    --colors-disneyBlue: hsl(213, 100%, 45%);
    --colors-edit: lightgray;
    --colors-editHover: white;
    --colors-errorPageBackground: var(--colors-background);
    --colors-errorText: red;
    --colors-espnYellow: hsl(46, 90%, 49%);
    --colors-offerStackBackground: var(--colors-background);
    --colors-offerStackBorder: 1px solid black;
    --colors-footerBackground: hsla(228, 36%, 5%);
    --colors-headerBackground: black;
    --colors-headerBackgroundScrolled: darkgray;
    --colors-headerGradient: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25) 51%, rgba(0, 0, 0, 0.4));
    --colors-hrBorder: 0.5px solid black;
    --colors-hrBorderSecondary: 0.5px solid white;
    --colors-huluGreen: hsl(154, 81%, 52%);
    --colors-huluGreenTranslucent: hsla(154, 81%, 52%, 0.55);
    --colors-iconError: hsl(3, 80%, 44%);
    --colors-iconSuccess: black;
    --colors-info: lightgray;
    --colors-infoBanner: hsl(206, 100%, 70%);
    --colors-infoHover: white;
    --colors-interactiveSectionBackground: hsl(226, 12%, 22%);
    --colors-interactiveSectionBorder: 1px solid dimgray;
    --colors-link: darkblue;
    --colors-linkHover: purple;
    --colors-linkSecondary: hsl(207, 100%, 41%);
    --colors-loadingDarkMode: 3px solid hsl(228, 20%, 95%);
    --colors-loadingLightMode: 3px solid var(--colors-textSecondary);
    --colors-merchandisingOfferSecondary: hsl(0, 0%, 79%);
    --colors-offerGradient: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25) 51%, rgba(0, 0, 0, 0.4));
    --colors-radioInputBorder: 2px solid hsl(217, 11%, 63%);
    --colors-radioInputBorderError: 2px solid hsl(3, 100%, 65%);
    --colors-radioInputBorderHover: var(--colors-radioInputBorder);
    --colors-radioInputBorderChecked: 2px solid var(--colors-buttonPrimaryBackground);
    --colors-radioInputDot: hsl(0, 0%, 98%);
    --colors-rightArrowCTA: hsl(0, 0%, 79%);
    --colors-sectionBackground: white;
    --colors-sectionBackgroundHover: white;
    --colors-sectionBorder: 1px solid lightgray;
    --colors-sectionHeaderBackground: lightgray;
    --colors-sectionHeaderText: initial;
    --colors-sectionRowBorder: 1px solid lightgray;
    --colors-standalonePrimaryBackground: black;
    --colors-standaloneSecondaryBackground: black;
    --colors-textDefault: black;
    --colors-textInputBackground: dimgray;
    --colors-textInputBorder: 1px solid dimgray;
    --colors-textInputBorderFocus: 1px solid lightgray;
    --colors-textInputBorderHover: 1px solid dimgray;
    --colors-textInputBorderInvalid: 1px solid red;
    --colors-textInputBorderValid: 1px solid lightgreen;
    --colors-textInputCaret: aqua;
    --colors-textInputLabel: lightgray;
    --colors-textSecondary: darkgray;
    --colors-switchBackgroundChecked: blue;
    --colors-switchBackgroundUnchecked: darkgray;
    --colors-switchThumb: lightgray;
    --colors-unlockPageBackgroundImage: none;
    --colors-warning: orange;
    --fonts-typerampBold: Times;
    --fonts-default: Times;
    --fonts-typerampDefault: Avenir-World-for-Disney-V2;
    --fontWeights-badgeHeavySmall: 600;
    --fontWeights-bodyCopyLarge: 400;
    --fontWeights-bodyCopySmall: 400;
    --fontWeights-bold: 700;
    --fontWeights-buttonFocused: 600;
    --fontWeights-headlineH1: 600;
    --fontWeights-headlineH2Heavy: 600;
    --fontWeights-headlineH3Heavy: 600;
    --fontWeights-headlineH4Heavy: 600;
    --fontWeights-light: 300;
    --fontWeights-medium: 500;
    --fontWeights-metadataHeavy: 600;
    --fontWeights-metadata: 400;
    --fontWeights-overline: 400;
    --fontWeights-pageNavFocusedSmall: 600;
    --fontWeights-regular: 400;
    --fontWeights-semibold: 600;
    --fontWeights-subheadPromoHeavy: 600;
    --fontWeights-textButtonFocused: 600;
    --fontSizes-badge: 0.75rem;
    --fontSizes-badgeHeavySmall: 0.625rem;
    --fontSizes-bodyCopyLarge: 1.25rem;
    --fontSizes-bodyCopySmall: 0.9375rem;
    --fontSizes-bodyLarge: 1rem;
    --fontSizes-bodyMedium: 0.875rem;
    --fontSizes-bodySmall: 0.75rem;
    --fontSizes-buttonFocused: 0.9375rem;
    --fontSizes-buttonRegular: 0.875rem;
    --fontSizes-buttonSmall: 0.75rem;
    --fontSizes-buttonXs: 0.75rem;
    --fontSizes-eyebrow: 0.75rem;
    --fontSizes-footerMedium: 0.75rem;
    --fontSizes-footerSmall: 0.75rem;
    --fontSizes-headlineH1: 2.75rem;
    --fontSizes-headlineH2Heavy: 2rem;
    --fontSizes-headlineH3Heavy: 1.5rem;
    --fontSizes-headlineH4Heavy: 1.25rem;
    --fontSizes-headlineMd: 1.125rem;
    --fontSizes-headlineXs: 1rem;
    --fontSizes-metadata: 0.75rem;
    --fontSizes-metadataHeavy: 0.75rem;
    --fontSizes-overline: 0.625rem;
    --fontSizes-pageNavFocusedSmall: 0.8125rem;
    --fontSizes-subheadPromoHeavy: 1.25rem;
    --fontSizes-subtitleMd: 1rem;
    --fontSizes-subtitleXs: 0.875rem;
    --fontSizes-textButtonFocused: 0.9375rem;
    --fontSizes-titleLargeLg: 3rem;
    --fontSizes-titleLargeMd: 2.5rem;
    --fontSizes-titleLargeSm: 1.75rem;
    --fontSizes-titleLargeXs: 1.5rem;
    --fontSizes-titleSmall: 1.5rem;
    --lineHeights-badgeHeavySmall: 0.6875rem;
    --lineHeights-bodyCopyLarge: 2rem;
    --lineHeights-bodyCopySmall: 1.4375rem;
    --lineHeights-bodyLarge: 1.5;
    --lineHeights-bodyMedium: 1.5;
    --lineHeights-bodySmall: 1.5;
    --lineHeights-button: 1.5;
    --lineHeights-buttonFocused: 1.5rem;
    --lineHeights-eyebrow: 1;
    --lineHeights-headlineH1: 3.375rem;
    --lineHeights-headlineH2Heavy: 2.375rem;
    --lineHeights-headlineH3Heavy: 1.75rem;
    --lineHeights-headlineH4Heavy: 1.75rem;
    --lineHeights-headlineMd: 1.2;
    --lineHeights-headlineXs: 1.25;
    --lineHeights-link: 1;
    --lineHeights-metadata: 1.125rem;
    --lineHeights-metadataHeavy: 1.125rem;
    --lineHeights-overline: 0.9375rem;
    --lineHeights-pageNavFocusedSmall: 0.875rem;
    --lineHeights-subheadPromoHeavy: 2rem;
    --lineHeights-subtitle: 1.5;
    --lineHeights-textButtonFocused: 1.4375rem;
    --lineHeights-titleLargeLg: 1.17;
    --lineHeights-titleLargeMd: 1.2;
    --lineHeights-titleLargeSm: 1.4;
    --lineHeights-titleLargeXs: 1.25;
    --lineHeights-titleSmall: 1.25;
    --letterSpacings-badgeHeavySmall: 0.43px;
    --letterSpacings-body: normal;
    --letterSpacings-bodyCopyLarge: -0.016px;
    --letterSpacings-bodyCopySmall: -0.016px;
    --letterSpacings-button: 0.65px;
    --letterSpacings-buttonFocused: 1.76px;
    --letterSpacings-eyebrow: 1px;
    --letterSpacings-footer: 0.20px;
    --letterSpacings-headlineH1: 0.018px;
    --letterSpacings-headlineH2Heavy: 0.018px;
    --letterSpacings-headlineH3Heavy: 0.018px;
    --letterSpacings-headlineH4Heavy: 0.018px;
    --letterSpacings-headlineMd: 0.32px;
    --letterSpacings-headlineXs: 0.29px;
    --letterSpacings-link: normal;
    --letterSpacings-metadata: -0.016px;
    --letterSpacings-metadataHeavy: 0.018px;
    --letterSpacings-overline: 1.76px;
    --letterSpacings-pageNavFocusedSmall: 1.55px;
    --letterSpacings-subheadPromoHeavy: 0.018px;
    --letterSpacings-subtitle: normal;
    --letterSpacings-textButtonFocused: 0.018px;
    --letterSpacings-titleLarge: -0.5px;
    --letterSpacings-titleSmall: 0.25px;
    --sizes-badgeHeight: 20px;
    --sizes-buttonLargeHeight: 48px;
    --sizes-buttonMediumHeight: 40px;
    --sizes-buttonSmallHeight: 32px;
    --sizes-buttonXSmallHeight: 24px;
    --sizes-footerLogoHeight: 48px;
    --sizes-footerLogoWidth: 100px;
    --sizes-loadingLarge: 74px;
    --sizes-loadingSmall: 24px;
    --sizes-headerHeight: 72px;
    --space-badgeSmallPadding: 1px 8px;
    --space-badgeHeavySmallPadding: 2px 3px;
    --space-buttonLargePadding: 24px;
    --space-buttonMediumPadding: 24px;
    --space-buttonSmallPadding: 16px;
    --space-buttonXSmallPadding: 16px;
    --space-dialogContentContainerPaddingBottomMedium: 24px;
    --space-dialogContentPaddingTop: 60px;
    --space-dialogHRMarginBottomMedium: 20px;
    --space-dialogHRMarginBottomMobile: 16px;
    --space-footerTopMargin: 100px;
    --space-loadingLarge: -37px;
    --space-loadingSmall: -12px;
    --space-sectionHeaderPadding: 32px 32px 16px 32px;
    --space-sectionMargin: 0 0 16px;
    --space-sectionRowPadding: 27px 32px;
    --space-sectionRowPaddingSm: 19px 20px 16px;
    --transitions-button: all .3s ease;
    --transitions-cardBorder: none;
    --transitions-cardButton: none;
    --transitions-dialogSecondaryClosed: k-kfBZKV 0.35s ease-out;
    --transitions-dialogSecondaryOpen: k-iGeoHB 0.35s ease-in;
    --transitions-icon: all 0.3s ease 0s;
    --transitions-loading: k-fcamfv 0.8s linear infinite;
    --transitions-toggle: all .2s ease;
    --shadows-contentCardBoxShadow: 0 26px 30px -10px  hsla(0, 0%, 0%, 0.69), 0 16px 10px -10px hsla(0, 0%, 0%, 0.73);
    --shadows-contentCardBoxShadowHover: 0 40px 58px -16px hsla(0, 0%, 0%, 0.8), 0 30px 22px -10px hsla(0, 0%, 0%, 0.72);
    --shadows-header: 0 1px 0 0 black;
    --shadows-section: 0px 10px 20px -5px black;
    --shadows-switchThumb: 0 3px 3px 0 hsla(0, 0%, 0%, 0.05), 0 2px 2px 0 hsla(0, 0%, 0%, 0.1), 0 3px 1px 0 hsla(0, 0%, 0%, 0.05);
    --radii-badgeBorderRadius: 4px;
    --radii-badgeHeavySmallBorderRadius: 2px;
    --radii-default: 4px;
    --radii-dialog: 0px;
    --radii-dialogSecondary: 4px;
    --radii-circle: 50%;
    --radii-loading: 50%;
    --radii-offerRadius: 8px;
    --radii-section: 4px;
    --radii-smallBadgeBorderRadius: 2px;
    --transforms-button: inherit;
    --transforms-sectionHeader: uppercase;
    --images-checkMark: url("https://static-assets.bamgrid.com/product/disneyplus/images/checkmark.bf787c680c38cdae9912000c43fb2386.svg");
    --images-footerAppLogo: url("https://static-assets.bamgrid.com/product/disneyplus/images/logo.1a56f51c764022ee769c91d894d44326.svg");
    --images-headerAppLogo: var(--images-footerAppLogo);
    --images-loading: none;
		--identity-colors-base_white: #FFFFFF;
		--identity-colors-base_grey100: #F1F2F4;
		--identity-colors-base_grey200: #E9EBF0;
		--identity-colors-base_grey300: #CCCED3;
		--identity-colors-base_grey400: #AEB0B5;
		--identity-colors-base_grey500: #86898F;
		--identity-colors-base_grey600: #5F6166;
		--identity-colors-base_grey800: #333335;
		--identity-colors-base_grey900: #252526;
		--identity-colors-base_black: #000000;
		--identity-colors-utility_blue50: #9DC4FF;
		--identity-colors-utility_blue100: #2D7CF2;
		--identity-colors-utility_blue200: #0040E5;
		--identity-colors-utilty_green100: #3CCE77;
		--identity-colors-utility_green200: #0D830F;
		--identity-colors-utility_red100: #F95252;
		--identity-colors-utility_red200: #D40909;
		--identity-colors-utility_yellow100: #FFB63F;
		--identity-colors-utility_yellow200: #E68810;
		--identity-colors-myDisney_blue0: #E6EEFF;
		--identity-colors-myDisney_blue50: #C6D6FF;
		--identity-colors-myDisney_blue100: #A6B8FF;
		--identity-colors-myDisney_blue150: #8594FF;
		--identity-colors-myDisney_blue200: #6468FF;
		--identity-colors-myDisney_blue300: #3E2DFF;
		--identity-colors-myDisney_blue400: #3300FF;
		--identity-colors-myDisney_blue500: #2700CD;
		--identity-colors-myDisney_blue600: #1C00A1;
		--identity-colors-myDisney_blue700: #13007A;
		--identity-colors-myDisney_blue800: #0A0057;
		--identity-colors-myDisney_blue900: #030037;
		--identity-colors-myDisney_blue1000: #000019;
		--identity-colors-espn_monza: #DD0000;
		--identity-colors-espn_scarlet: #EF4035;
		--identity-colors-starWars_lando: #FFB700;
		--identity-colors-natGeo_primary: #FFCC00;
		--identity-colors-hulu_primary: #1CE783;
		--identity-colors-hulu_secondary: #7DFFBF;
		--identity-colors-hulu_tertiary: #1CC471;
		--identity-colors-disneyPlus_primary: #000000;
		--identity-colors-disneyPlus_secondary: #0682F0;
		--identity-colors-disneyPlus_tertiary: #183966;
		--identity-colors-disneyPlus_quaternary: #002C52;
		--identity-colors-disneyPlus_background_gradient: radial-gradient(circle at bottom, #056877, #051828 96%);
		--identity-colors-myDisney_primary: var(--identity-colors-myDisney_blue400);
		--identity-colors-starPlus_primaryLeft: #E1054A;
		--identity-colors-starPlus_primaryRight: #CE4100;
		--identity-colors-starPlus_secondaryLeft: #FA1E63;
		--identity-colors-starPlus_secondaryRight: #FF5000;
		--identity-colors-starPlus_tertiaryLeft: #960331;
		--identity-colors-starPlus_tertiaryRight: #993000;
		--identity-colors-marvel_primary: #EC1D24;
		--identity-colors-background_gradient: var(--identity-colors-disneyPlus_background_gradient);
		--identity-colors-background_default: var(--identity-colors-base_grey100);
		--identity-colors-background_container: var(--identity-colors-base_white);
		--identity-colors-button_primary_default: var(--identity-colors-myDisney_primary);
		--identity-colors-button_primary_default_border: transparent;
		--identity-colors-button_primary_default_text: var(--identity-colors-base_white);
		--identity-colors-button_primary_hover: var(--identity-colors-myDisney_blue500);
		--identity-colors-button_primary_hover_border: var(--identity-colors-button_primary_default_border);
		--identity-colors-button_primary_hover_text: var(--identity-colors-button_primary_default_text);
		--identity-colors-button_primary_active: var(--identity-colors-myDisney_blue600);
		--identity-colors-button_primary_active_border: var(--identity-colors-button_primary_default_border);
		--identity-colors-button_primary_active_text: var(--identity-colors-button_primary_default_text);
		--identity-colors-button_primary_disabled: var(--identity-colors-myDisney_blue100);
		--identity-colors-button_primary_disabled_border: var(--identity-colors-button_primary_default_border);
		--identity-colors-button_primary_disabled_text: #FFFFFF99;
		--identity-colors-button_primary_focus: var(--identity-colors-myDisney_primary);
		--identity-colors-button_primary_focus_border: var(--identity-colors-button_primary_default_border);
		--identity-colors-button_primary_focus_text: var(--identity-colors-button_primary_default_text);
		--identity-colors-button_primary_loading: var(--identity-colors-myDisney_primary);
		--identity-colors-button_primary_loading_border: var(--identity-colors-button_primary_default_border);
		--identity-colors-button_primary_loading_text: var(--identity-colors-button_primary_default_text);
		--identity-colors-button_secondary_default: var(--identity-colors-base_white);
		--identity-colors-button_secondary_default_border: var(--identity-colors-base_grey300);
		--identity-colors-button_secondary_default_text: var(--identity-colors-base_black);
		--identity-colors-button_secondary_hover: var(--identity-colors-base_grey100);
		--identity-colors-button_secondary_hover_border: var(--identity-colors-button_secondary_default_border);
		--identity-colors-button_secondary_hover_text: var(--identity-colors-button_secondary_default_text);
		--identity-colors-button_secondary_active: var(--identity-colors-base_grey200);
		--identity-colors-button_secondary_active_border: var(--identity-colors-button_secondary_default_border);
		--identity-colors-button_secondary_active_text: var(--identity-colors-button_secondary_default_text);
		--identity-colors-button_secondary_disabled: var(--identity-colors-base_white);
		--identity-colors-button_secondary_disabled_border: var(--identity-colors-button_secondary_default_border);
		--identity-colors-button_secondary_disabled_text: var(--identity-colors-base_grey400);
		--identity-colors-button_secondary_focus: var(--identity-colors-base_grey100);
		--identity-colors-button_secondary_focus_border: var(--identity-colors-button_secondary_default_border);
		--identity-colors-button_secondary_focus_text: var(--identity-colors-button_secondary_default_text);
		--identity-colors-button_secondary_loading: var(--identity-colors-base_grey200);
		--identity-colors-button_secondary_loading_border: transparent;
		--identity-colors-button_secondary_loading_text: var(--identity-colors-button_secondary_default_text);
		--identity-colors-button_icon_primary_default: var(--identity-colors-base_grey200);
		--identity-colors-button_icon_primary_hover: var(--identity-colors-base_grey300);
		--identity-colors-button_icon_primary_active: var(--identity-colors-base_grey400);
		--identity-colors-button_icon_primary_icon: var(--identity-colors-base_grey900);
		--identity-colors-button_icon_secondary_default: transparent;
		--identity-colors-button_icon_secondary_hover: transparent;
		--identity-colors-button_icon_secondary_active: transparent;
		--identity-colors-button_icon_secondary_icon: var(--identity-colors-base_grey500);
		--identity-colors-checkbox_background: var(--identity-colors-transparent);
		--identity-colors-checkbox_background_hover: var(--identity-colors-base_grey100);
		--identity-colors-checkbox_background_checked: var(--identity-colors-button_primary_default);
		--identity-colors-checkbox_border: var(--identity-colors-base_grey300);
		--identity-colors-checkbox_border_checked: var(--identity-colors-checkbox_background_checked);
		--identity-colors-checkbox_check: var(--identity-colors-button_primary_default_text);
		--identity-colors-error: var(--identity-colors-utility_red200);
		--identity-colors-success: var(--identity-colors-utility_green200);
		--identity-colors-form_field_input_background: var(--identity-colors-base_grey200);
		--identity-colors-form_field_input_text: var(--identity-colors-base_grey900);
		--identity-colors-form_field_label: var(--identity-colors-base_grey600);
		--identity-colors-form_field_placeholder: var(--identity-colors-base_grey600);
		--identity-colors-form_field_prompt: var(--identity-colors-base_grey600);
		--identity-colors-form_field_underline: var(--identity-colors-base_grey900);
		--identity-colors-footer_background: var(--identity-colors-base_white);
		--identity-colors-footer_mobile_divider: var(--identity-colors-base_grey200);
		--identity-colors-footer_text_link: var(--identity-colors-base_grey600);
		--identity-colors-footer_text_link_hover: var(--identity-colors-base_grey900);
		--identity-colors-icon_primary: var(--identity-colors-base_grey500);
		--identity-colors-learn_more_button_background: transparent;
		--identity-colors-learn_more_container_background: var(--identity-colors-base_grey100);
		--identity-colors-learn_more_container_border: var(--identity-colors-base_grey200);
		--identity-colors-loader_primary: var(--identity-colors-button_primary_default_text);
		--identity-colors-loader_secondary: var(--identity-colors-button_secondary_default_text);
		--identity-colors-outline: rgba(51, 0, 255, 0.2);
		--identity-colors-overlay_background: rgba(0, 0, 0, 0.8);
		--identity-colors-passwordStrength_track: var(--identity-colors-base_grey300);
		--identity-colors-passwordStrength_bad: var(--identity-colors-utility_red200);
		--identity-colors-passwordStrength_fair: var(--identity-colors-utility_yellow200);
		--identity-colors-passwordStrength_good: var(--identity-colors-utility_green200);
		--identity-colors-passwordStrength_great: var(--identity-colors-utility_green200);
		--identity-colors-select_field_background: var(--identity-colors-form_field_input_background);
		--identity-colors-select_field_caret: var(--identity-colors-base_grey500);
		--identity-colors-select_field_caret_focus: var(--identity-colors-base_grey900);
		--identity-colors-select_field_option_highlight: var(--identity-colors-base_grey300);
		--identity-colors-select_field_option_highlight_text: var(--identity-colors-base_grey900);
		--identity-colors-select_field_underline: var(--identity-colors-form_field_underline);
		--identity-colors-select_field_underline_hover: var(--identity-colors-base_grey400);
		--identity-colors-text_primary: var(--identity-colors-base_grey900);
		--identity-colors-text_secondary: var(--identity-colors-base_grey600);
		--identity-colors-text_link: var(--identity-colors-utility_blue200);
		--identity-fontSizes-body_small: 12px;
		--identity-fontSizes-body_medium: 14px;
		--identity-fontSizes-body_large: 16px;
		--identity-fontSizes-h2: 24px;
		--identity-fontSizes-h1: 28px;
		--identity-fonts-default: Avenir-Next-World, Avenir, apple-system, sans-serif;
		--identity-fonts-ja_jp: Tazugane, sans-serif;
		--identity-fonts-ko_kr: SeolSans, sans-serif;
		--identity-fonts-zh_hans: MXiangHeHeiSC, sans-serif;
		--identity-fonts-zh_hant: MXiangHeHeiTC, sans-serif;
		--identity-fontWeights-normal: 400;
		--identity-fontWeights-bold: 600;
		--identity-lineHeights-body_small: 20px;
		--identity-lineHeights-body_medium: 24px;
		--identity-lineHeights-body_large: 24px;
		--identity-lineHeights-h2: 36px;
		--identity-lineHeights-h1: 40px;
		--identity-transitions-default: 200ms cubic-bezier(0.4, 0, 0.2, 1)
	}


@font-face {
	font-family: AvenirNext;
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url("3.woff2");
}

@font-face {
	font-family: AvenirNext;
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	src: url("4.woff2");
}

@font-face {
	font-family: AvenirNext;
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	src: url("1.woff2");
}


@font-face {
	font-family: AvenirNext;
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url("2.woff2");
}

.identity-c-jarugL.is-focused > .input-container::before {
  border-bottom-color: var(--identity-colors-form_field_underline);
}.identity-c-jarugL > .input-container::before {
  border-bottom-color: var(--identity-colors-form_field_underline);
}
.identity-c-jarugL > .input-container::before {
  position: absolute;
  left: 0px;
  bottom: 0px;
  right: 0px;
  content: "";
  border-bottom: 2px solid var(--identity-colors-myDisney_blue600);;
  pointer-events: none;
  transition: border-bottom-color var(--identity-colors-myDisney_blue600);
}
.identity-c-bwXWFi *, .identity-c-bwXWFi ::before, .identity-c-bwXWFi ::after {
  box-sizing: border-box;
}

.identity-c-jarugL > .input-container::before {
  position: absolute;
  left: 0px;
  bottom: 0px;
  right: 0px;
  content: "";
  border-bottom: 2px solid var(--identity-colors-myDisney_blue600);
  pointer-events: none;
  transition: border-bottom-color var(--identity-colors-myDisney_blue600);
}
.identity-c-bwXWFi *, .identity-c-bwXWFi ::before, .identity-c-bwXWFi ::after {
  box-sizing: border-box;
}
.identity-c-izmpzc {
  align-self: flex-start;
  display: inline;
  margin: 0px;
  padding: 0px;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: var(--identity-colors-text_link);
  line-height: inherit;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}.identity-c-jarugL > .input-container > .adornment {
  margin: 12px;
}
.identity-c-bwXWFi :where(button, div, input, textarea, select, span) {
  font-family: AvenirNext;
}
.identity-c-bwXWFi *, .identity-c-bwXWFi ::before, .identity-c-bwXWFi ::after {
  box-sizing: border-box;
}.identity-c-xbrEg-jvrvtX-color-secondary {
  background-color: var(--identity-colors-button_icon_secondary_default);
}
.identity-c-xbrEg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  overflow: hidden;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  transition: background-color var(--identity-transitions-default);
}
.identity-c-bwXWFi :where(button, div, input, textarea, select, span) {
  font-family: AvenirNext;
}
.identity-c-bwXWFi *, .identity-c-bwXWFi ::before, .identity-c-bwXWFi ::after {
  box-sizing: border-box;
}.identity-c-xbrEg svg {
  flex: 1 0 24px;
}
.identity-c-bwXWFi :where(svg) {
  max-width: none;
}
.identity-c-bwXWFi *, .identity-c-bwXWFi ::before, .identity-c-bwXWFi ::after {
  box-sizing: border-box;
}.identity-c-PJLV-ipNWdf-color-secondary {
  fill: var(--identity-colors-button_icon_secondary_icon);
}
*{
  font-family: AvenirNext;
}
button{
  font-family: AvenirNext;
}
body {
  background-color: var(--colors-background);
  color: var(--colors-textDefault);
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
html, body {
  height: 100%;
}#__next, #root {
  isolation: isolate;
}.identity-c-dyDzYK.gradient-background {
  background: var(--identity-colors-background_gradient);
}
.identity-c-dyDzYK {
  position: absolute;
  inset: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--identity-colors-background_default);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.identity-c-bwXWFi :where(button, div, input, textarea, select, span) {
  font-family: AvenirNext;
}
.identity-c-bwXWFi *, .identity-c-bwXWFi ::before, .identity-c-bwXWFi ::after {
  box-sizing: border-box;
}.c-bTDrLr-cmpvrW-headerType-none {
  position: relative;
}
.c-bTDrLr {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
}.identity-c-bwXWFi {
  font-family: AvenirNext;
}
.identity-t-bDcIXH {
  --identity-colors-button_primary_default: var(--identity-colors-disneyPlus_primary);
  --identity-colors-button_primary_hover: var(--identity-colors-disneyPlus_secondary);
  --identity-colors-button_primary_active: var(--identity-colors-disneyPlus_tertiary);
  --identity-colors-button_primary_focus: var(--identity-colors-disneyPlus_primary);
  --identity-colors-button_primary_loading: var(--identity-colors-disneyPlus_primary);
}.identity-c-dyDzYK.gradient-background {
  background: var(--identity-colors-background_gradient);
}
.identity-c-dyDzYK {
  position: absolute;
  inset: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--identity-colors-background_default);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.identity-c-bwXWFi :where(button, div, input, textarea, select, span) {
  font-family: AvenirNext;
}
.identity-c-bwXWFi *, .identity-c-bwXWFi ::before, .identity-c-bwXWFi ::after {
  box-sizing: border-box;
}.identity-c-gTkAhO {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin: 0px auto;
  min-width: 320px;
  height: 100%;
  width: 100%;
  padding: 24px 0px 0px;
  font-size: var(--identity-fontSizes-body_medium);
  line-height: var(--identity-lineHeights-body_medium);
  color: var(--identity-colors-text_primary);
  overflow: auto;
}
.identity-c-bwXWFi :where(button, div, input, textarea, select, span) {
  font-family: AvenirNext;
}
.identity-c-bwXWFi *, .identity-c-bwXWFi ::before, .identity-c-bwXWFi ::after {
  box-sizing: border-box;
}identity-c-jCYoVq {
  flex: 0 0 64px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 288px;
  height: 64px;
}
.identity-c-bwXWFi :where(button, div, input, textarea, select, span) {
  font-family: AvenirNext;
}
.identity-c-bwXWFi *, .identity-c-bwXWFi ::before, .identity-c-bwXWFi ::after {
  box-sizing: border-box;
}.identity-c-jCYoVq > img, .identity-c-jCYoVq > svg {
  transform: scale(0.8);
  transform-origin: center bottom;
}
.identity-c-bwXWFi :where(svg) {
  max-width: none;
}
.identity-c-bwXWFi *, .identity-c-bwXWFi ::before, .identity-c-bwXWFi ::after {
  box-sizing: border-box;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}.identity-c-gTkAhO > .animation-wrapper {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.identity-c-bwXWFi :where(button, div, input, textarea, select, span) {
  font-family: AvenirNext;
}
.identity-c-bwXWFi *, .identity-c-bwXWFi ::before, .identity-c-bwXWFi ::after {
  box-sizing: border-box;
}.identity-c-gTkAhO > .animation-wrapper > .container-wrapper {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  width: 100%;
}
.identity-c-bwXWFi :where(button, div, input, textarea, select, span) {
  font-family: AvenirNext;
}
.identity-c-bwXWFi *, .identity-c-bwXWFi ::before, .identity-c-bwXWFi ::after {
  box-sizing: border-box;
}.identity-c-gTkAhO > .animation-wrapper > .container-wrapper > .primary-container {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  padding: 32px 24px;
  border-radius: 24px 24px 0px 0px;
  background-color: var(--identity-colors-background_container);
}
.identity-c-bwXWFi :where(button, div, input, textarea, select, span) {
  font-family: AvenirNext;
}
.identity-c-bwXWFi *, .identity-c-bwXWFi ::before, .identity-c-bwXWFi ::after {
  box-sizing: border-box;
}.identity-c-gTkAhO > .animation-wrapper > .container-wrapper > .primary-container > .secondary-container, .identity-c-gTkAhO > .animation-wrapper > .container-wrapper > .primary-container .secondary-container > .form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 0 1 auto;
}
.identity-c-bwXWFi :where(button, div, input, textarea, select, span) {
  font-family: AvenirNext;
}
.identity-c-bwXWFi *, .identity-c-bwXWFi ::before, .identity-c-bwXWFi ::after {
  box-sizing: border-box;
}.identity-c-bwXWFi :where(button, div, input, textarea, select, span) {
  font-family: AvenirNext;
}
.identity-c-bwXWFi *, .identity-c-bwXWFi ::before, .identity-c-bwXWFi ::after {
  box-sizing: border-box;
}.identity-c-bwXWFi *, .identity-c-bwXWFi ::before, .identity-c-bwXWFi ::after {
  box-sizing: border-box;
}.identity-c-kShjvO {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--identity-colors-text_primary);
}
.identity-c-bwXWFi :where(button, div, input, textarea, select, span) {
  font-family: AvenirNext;
}
.identity-c-bwXWFi *, .identity-c-bwXWFi ::before, .identity-c-bwXWFi ::after {
  box-sizing: border-box;
}.identity-c-kShjvO > .heading-title {
  line-height: var(--identity-lineHeights-h2);
  font-size: var(--identity-fontSizes-h2);
  font-weight: var(--identity-fontWeights-bold);
}
.identity-c-bwXWFi :where(h1, h2, p) {
  margin: 0px;
}
.identity-c-bwXWFi *, .identity-c-bwXWFi ::before, .identity-c-bwXWFi ::after {
  box-sizing: border-box;
}.identity-c-kShjvO > .heading-description {
  line-height: var(--identity-lineHeights-body_medium);
  font-size: var(--identity-fontSizes-body_medium);
  font-weight: var(--identity-fontWeights-normal);
  word-break: break-word;
}
.identity-c-bwXWFi :where(button, div, input, textarea, select, span) {
  font-family: AvenirNext;
}
.identity-c-bwXWFi *, .identity-c-bwXWFi ::before, .identity-c-bwXWFi ::after {
  box-sizing: border-box;
}.identity-c-bwXWFi :where(h1, h2, p) {
  margin: 0px;
}
.identity-c-bwXWFi *, .identity-c-bwXWFi ::before, .identity-c-bwXWFi ::after {
  box-sizing: border-box;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}.identity-c-gTkAhO > .animation-wrapper > .container-wrapper > .primary-container > .secondary-container, .identity-c-gTkAhO > .animation-wrapper > .container-wrapper > .primary-container .secondary-container > .form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 0 1 auto;
}
.identity-c-bwXWFi *, .identity-c-bwXWFi ::before, .identity-c-bwXWFi ::after {
  box-sizing: border-box;
}.identity-c-bwXWFi :where(button, div, input, textarea, select, span) {
  font-family: AvenirNext;
}
.identity-c-bwXWFi *, .identity-c-bwXWFi ::before, .identity-c-bwXWFi ::after {
  box-sizing: border-box;
}.identity-c-jarugL > .input-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  font-size: var(--identity-fontSizes-body_large);
  background-color: var(--identity-colors-form_field_input_background);
  border-radius: 4px;
  overflow: hidden;
  cursor: text;
}
.identity-c-bwXWFi :where(button, div, input, textarea, select, span) {
  font-family: AvenirNext;
}
.identity-c-bwXWFi *, .identity-c-bwXWFi ::before, .identity-c-bwXWFi ::after {
  box-sizing: border-box;
}.identity-c-jarugL > .input-container > label {
  position: absolute;
  top: 18px;
  left: 16px;
  line-height: 24px;
  color: var(--identity-colors-form_field_label);
  pointer-events: none;
  transition: font-size var(--identity-transitions-default), top var(--identity-transitions-default), line-height var(--identity-transitions-default);
}
.identity-c-bwXWFi *, .identity-c-bwXWFi ::before, .identity-c-bwXWFi ::after {
  box-sizing: border-box;
}.identity-c-jarugL > .input-container > input {
  flex: 1 1 auto;
  height: 100%;
  padding: 16px 16px 10px;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  font-stretch: inherit;
  font-size: inherit;
  font-family: inherit;
  font-optical-sizing: inherit;
  font-kerning: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  color: var(--identity-colors-form_field_input_text);
  line-height: 24px;
  border: 0px;
  background: none;
  outline: none;
}
.identity-c-bwXWFi :where(button, div, input, textarea, select, span) {
  font-family: AvenirNext;
}
.identity-c-bwXWFi *, .identity-c-bwXWFi ::before, .identity-c-bwXWFi ::after {
  box-sizing: border-box;
}
input, button, textarea, select {
  font: inherit;
}.identity-c-dLfNfa-gtaHLC-color-primary {
  color: var(--identity-colors-button_primary_default_text);
  background-color: var(--identity-colors-button_primary_default);
  border-color: var(--identity-colors-button_primary_default_border);
}
.identity-c-dLfNfa {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 52px;
  padding: 14px 24px;
  border-radius: 26px;
  border-width: 2px;
  border-style: solid;
  cursor: pointer;
  outline: none;
  user-select: none;
  transition: background-color var(--identity-transitions-default);
}
.identity-c-bwXWFi :where(button, div, input, textarea, select, span) {
  font-family: AvenirNext;
}
.identity-c-bwXWFi *, .identity-c-bwXWFi ::before, .identity-c-bwXWFi ::after {
  box-sizing: border-box;
}
input, button, textarea, select {
  font: inherit;
}.c-cfdzVR span {
  font-family: AvenirNext;
}
.identity-c-hwtasM {
  line-height: var(--identity-lineHeights-body_large);
  font-size: var(--identity-fontSizes-body_large);
  font-weight: var(--identity-fontWeights-bold);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.identity-c-bwXWFi :where(button, div, input, textarea, select, span) {
  font-family: AvenirNext;
}
.identity-c-bwXWFi *, .identity-c-bwXWFi ::before, .identity-c-bwXWFi ::after {
  box-sizing: border-box;
}.identity-c-hmeQKe.show-content-only {
  margin: 0px;
  padding: 8px 0px 0px;
  background-color: transparent;
  box-shadow: none;
}
.identity-c-hmeQKe {
  position: relative;
  margin: -4px -16px -16px;
  padding: 12px 16px 16px;
  background-color: var(--identity-colors-learn_more_button_background);
  box-shadow: transparent 0px 0px 0px 1px inset;
  border-radius: 10px;
}
.identity-c-bwXWFi :where(button, div, input, textarea, select, span) {
  font-family: AvenirNext;
}
.identity-c-bwXWFi *, .identity-c-bwXWFi ::before, .identity-c-bwXWFi ::after {
  box-sizing: border-box;
}.identity-c-hmeQKe.show-content-only > .learn-more-content {
  padding-top: 24px;
  font-size: var(--identity-fontSizes-body_small);
  line-height: var(--identity-lineHeights-body_small);
  color: var(--identity-colors-text_secondary);
  border-top: 1px solid var(--identity-colors-learn_more_container_border);
}
.identity-c-hmeQKe > .learn-more-content {
  font-size: var(--identity-fontSizes-body_medium);
  line-height: var(--identity-lineHeights-body_medium);
  padding-top: 16px;
}
.identity-c-bwXWFi :where(button, div, input, textarea, select, span) {
  font-family: AvenirNext;
}
.identity-c-bwXWFi *, .identity-c-bwXWFi ::before, .identity-c-bwXWFi ::after {
  box-sizing: border-box;
}.identity-c-hmeQKe.show-content-only > .learn-more-content > .learn-more-heading {
  font-size: var(--identity-fontSizes-body_medium);
  line-height: var(--identity-lineHeights-body_medium);
}
.identity-c-hmeQKe > .learn-more-content > .learn-more-heading {
  font-size: var(--identity-fontSizes-body_large);
  font-weight: var(--identity-fontWeights-bold);
  line-height: var(--identity-lineHeights-body_large);
  margin: 0px 0px 4px;
}
.identity-c-bwXWFi :where(h1, h2, p) {
  margin: 0px;
}
.identity-c-bwXWFi *, .identity-c-bwXWFi ::before, .identity-c-bwXWFi ::after {
  box-sizing: border-box;
}.identity-c-bwXWFi :where(h1, h2, p) {
  margin: 0px;
}
.identity-c-bwXWFi *, .identity-c-bwXWFi ::before, .identity-c-bwXWFi ::after {
  box-sizing: border-box;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}.identity-c-bwXWFi :where(a) {
  color: var(--identity-colors-text_link);
  text-decoration: none;
  outline: none;
  cursor: pointer;
}
.identity-c-bwXWFi *, .identity-c-bwXWFi ::before, .identity-c-bwXWFi ::after {
  box-sizing: border-box;
}.identity-c-hmeQKe > .learn-more-content > .LogoParade {
  margin-top: 20px;
  gap: 8px 4px;
}
.identity-c-kCWgfv {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}
.identity-c-bwXWFi :where(button, div, input, textarea, select, span) {
  font-family: AvenirNext;
}
.identity-c-bwXWFi *, .identity-c-bwXWFi ::before, .identity-c-bwXWFi ::after {
  box-sizing: border-box;
}.identity-c-kCWgfv > .logo-parade-logo {
  display: inline-flex;
  height: 32px;
}
.c-cfdzVR span {
  font-family: AvenirNext;
}
.identity-c-bwXWFi :where(button, div, input, textarea, select, span) {
  font-family: AvenirNext;
}.identity-c-gTkAhO > .animation-wrapper .Footer {
  margin-top: -1px;
}
.identity-c-hPKXmN {
  position: relative;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
  padding: 120px 24px 40px;
  font-size: var(--identity-fontSizes-body_medium);
  line-height: var(--identity-lineHeights-body_medium);
  color: var(--identity-colors-text_secondary);
  background-color: var(--identity-colors-footer_background);
}
.identity-c-bwXWFi *, .identity-c-bwXWFi ::before, .identity-c-bwXWFi ::after {
  box-sizing: border-box;
}.identity-c-hPKXmN > .TextLink {
  text-align: left;
  color: var(--identity-colors-footer_text_link);
}
.identity-c-izmpzc {
  align-self: flex-start;
  display: inline;
  margin: 0px;
  padding: 0px;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: var(--identity-colors-text_link);
  line-height: inherit;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
.identity-c-bwXWFi :where(a) {
  color: var(--identity-colors-text_link);
  text-decoration: none;
  outline: none;
  cursor: pointer;
}
.identity-c-bwXWFi *, .identity-c-bwXWFi ::before, .identity-c-bwXWFi ::after {
  box-sizing: border-box;
}
@media (min-width: 480px){
.identity-c-gTkAhO {
    gap: 0px;
    flex: 0 0 auto;
}
.identity-c-jCYoVq {
  flex: 0 0 80px;
  width: 360px;
  height: 80px;
}.identity-c-gTkAhO > .animation-wrapper {
  justify-content: space-between;
}.identity-c-gTkAhO > .animation-wrapper > .container-wrapper {
  flex-grow: 0;
  padding: 24px 40px 80px;
}.identity-c-gTkAhO > .animation-wrapper > .container-wrapper > .primary-container {
  width: 580px;
  padding: 56px 72px;
}.identity-c-gTkAhO > .animation-wrapper > .container-wrapper > .primary-container {
  flex-grow: 0;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}.identity-c-jCYoVq > img, .identity-c-jCYoVq > svg {
  transform: scale(1);
}.identity-c-jCYoVq {
  flex: 0 0 80px;
  width: 360px;
  height: 80px;
}.identity-c-gTkAhO > .animation-wrapper .Footer {
  margin-top: 80px;
}.identity-c-hPKXmN {
  flex-grow: 0;
  flex-flow: wrap;
  justify-content: center;
  padding: 28px 40px;
  gap: 16px 36px;
}
}

.error {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 10px;
  color: #ffffff;
  font-size: var(--identity-fontSizes-body_large);
  background-color: var(--identity-colors-button_primary_default);
  border-radius: 4px;
  overflow: hidden;
  cursor: text;
  font-family: AvenirNext;
  text-align: center;
}.c-bTZitm {
  display: flex;
  align-items: start;
  gap: 12px;
  border-radius: var(--radii-offerRadius);
  padding: 16px;
  overflow-wrap: break-word;
  border: var(--colors-offerStackBorder);
  background: var(--colors-offerStackBackground);
}.c-jgsHBW {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-grow: 1;
  line-height: 0;
}.c-flEvDD {
  display: flex;
  flex-direction: column;
  line-height: 0;
}.c-cfdzVR span[class*="Headline"], .c-cfdzVR span[class*="headline"] {
  font-family: var(--fonts-typerampBold);
}
.c-cfdzVR span {
  font-family: AvenirNext;
}
.c-PJLV-ecRVIz-textStyle-bodyHeadline {
  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 1.4375rem;
  letter-spacing: 0.018px;
}.c-cfdzVR span {
  font-family: AvenirNext;
}
.c-PJLV-hyAmZi-textStyle-bodyCopySmall {
  font-size: var(--fontSizes-bodyCopySmall);
  font-weight: var(--fontWeights-bodyCopySmall);
  line-height: var(--lineHeights-bodyCopySmall);
  letter-spacing: var(--letterSpacings-bodyCopySmall);
}.c-cfdzVR span {
  font-family: AvenirNext;
}
.c-PJLV-UOoMS-textStyle-metadata {
  font-size: var(--fontSizes-metadata);
  font-weight: var(--fontWeights-metadata);
  line-height: var(--lineHeights-metadata);
  letter-spacing: var(--letterSpacings-metadata);
}.c-flEvDD {
  display: flex;
  flex-direction: column;
  line-height: 0;
}.c-cGqoHZ {
  color: var(--colors-textSecondary);
}.c-cfdzVR span {
  font-family: AvenirNext;
}
.c-PJLV-klonqh-textStyle-bodyLegal {
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 0.875rem;
  letter-spacing: -0.016px;
}.c-cfdzVR span {
  font-family: AvenirNext;
}
.c-PJLV-klonqh-textStyle-bodyLegal {
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 0.875rem;
  letter-spacing: -0.016px;
}.c-gvCSyL-iiqHkCj-css {
  background-image: url(https://disney.images.edge.bamgrid.com/ripcut-delivery/v1/variant/disney/76C99C8750D70114584394D4A64A3EA44B8F9080028C1F95D63FC504B3AE49E6)!important;
  background-position: right 23px center!important;
  background-size: 33px 22px!important;
  background-repeat: no-repeat!important;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate {
  display: inline-block;
  animation: rotate 1s linear infinite;
}